# Configuration file for GasPot
[host]
tcp_ip = 0.0.0.0
tcp_port = 10001
buffer_size = 1024

# The 'products' section defines the product names to be used. Localize
# these in order to decrease honeypot suspicion.
[products]
product1 = SUPER
product2 = UNLEAD
product3 = DIESEL
product4 = PREMIUM

# The 'stations' section defines the names for gas stations. These
# should be localized for decreased suspicion of being a honeypot.
[stations]
list = [
	'DRUMMOND\'S GAS \n 635 BRONSON AVE',
	'PETRO-CANADA \n 690 HUNT CLUB ROAD',
	'PETRO-CANADA \n 1018 CYRVILLE ROAD',
	'ISLAND PARK ESSO SERVICE CENTRE \n 369 ISLAND PARK DR.',
	'ESSO ON THE RUN \n 501 TERRY FOX DR.',
	'SHELL CANADA \n 1548 MERIVALE ROAD',
	'PETRO CANADA \n 676 SOMERSET STREET W',
	'ESSO \n 450 BANK STREET',
	'SHELL \n 1607 CARLING AVENUE',
	'PETRO-CANADA \n 292 RIDEAU STREET',
	'PIONEER PETROLEUMS \n 631 INDUSTRIAL AVENUE',
	'PETRO CANADA \n 3775C STRANDHERD DRIVE',
	'ESSO \n 2162 PRINCE OF WALES DRIVE',
	'CANADIAN TIRE GAS+ \n 500 TERRY FOX DRIVE',
	'ULTRAMAR \n 1985 TRIM ROAD',
	'WO STINSON & SON \n 4728 BANK STREET',
	'CANADIAN TIRE GAS+ \n 1660 MERIVALE ROAD',
	'MACEWEN PETROLEUM \n 4564 FALLOWFIELD ROAD',
	'ESSO GAS BAR & CAR WASH \n 1856 ROBERTSON ROAD',
	'SHELL CANADA \n 1993 TENTH LINE ROAD',
	'MOBIL GAS \n 1460 MERIVALE ROAD',
	'CANADIAN TIRE GAS+ \n 2006 OGILVIE ROAD',
	'PETRO-CANADA \n 1431 WOODROFFE AVE',
	'ESSO GAS \n 1970 WALKLEY ROAD',
	'PETRO-CANADA \n 1432 BASELINE ROAD',
	'ULTRAMAR \n 1 RIDEAU CREST',
	'SUNOCO GAS \n 2536 BANK ST.',
	'RIVERSIDE SERVICE CENTRE \n 1540 BANK ST.', ]

[parameters]
decimal_separator = .
low_temperature = 50
high_temperature = 60
min_h2o = 0
max_h2o = 9
min_height = 25
max_height = 75
min_vol = 1000
max_vol = 9050
min_ullage = 3000
max_ullage = 9999
